*{
  margin: 0px;
  padding: 0px;
}
.title-name{
  padding: 40px;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .cart {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .card {
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
  }
  .price-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .quantity{
    display: flex;
    align-items: center;
  }
  .card button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer h2 {
    font-size: 1.2em;
    padding: 10px;
  }
  .footer button {
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #59df76;
    color: white;
  }
  